.page {
  min-width: 320px;
  max-width: 100%;
  width: 100%;
  //!-----
  min-height: 100vh;

  margin: 0 auto;
  padding: 0;

  font-size: 15px;
  font-family: 'comforta', sans-serif;
  color: #000;

  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  position: relative;
}

.page::before {
  content: '';
  width: 100%;
  height: 100%;
  background-image: url(../../assets/bg-decision-maker.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(2px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

* {
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

:root {
  --font-color: #666666;
  --accent-color: #46cbff;
}

// for disappearing spin btn to increas and decrease number value in  input
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
