@use '../common/mixins' as *;
.main-diagram {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .diagram-nav__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
  }
}

.diagram-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .diagram-nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    .svg-back {
      width: 50px;
      height: 50px;
    }

    .svg-sound-on {
      width: 50px;
      height: 50px;
    }

    .svg-sound-off {
      width: 50px;
      height: 50px;
    }

    .svg-time {
      width: 50px;
      height: 50px;
    }

    .time-input__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      .time-input {
        width: 100px;
        background: transparent;
        border: none;
        @include fontStyle(28px, 600, 1px, var(--font-color));
      }
      .time-input::placeholder {
        @include fontStyle(26px, 600, 1px, var(--font-color));
      }
      .time-input:focus {
        outline: none;
      }

      .style-line {
        width: 100%;
        height: 3px;
        background-color: var(--accent-color);
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 2px;
        transition: background-color 0.3s ease;
      }
      .time-input:focus ~ .style-line {
        background-color: #cc582b;
      }
    }

    .time-input__wrapper:focus-within .svg-time .svg-time-path-one,
    .time-input__wrapper:focus-within .svg-time .svg-time-path-two {
      fill: #cc582b;
    }
  }

  .diagram-nav-item:hover .svg-back-path-one,
  .diagram-nav-item:hover .svg-back-path-two,
  .diagram-nav-item:hover .svg-sound-on-path-one,
  .diagram-nav-item:hover .svg-sound-on-path-two,
  .diagram-nav-item:hover .svg-sound-on-path-three, 
  .diagram-nav-item:hover .svg-sound-off-path-one, 
  .diagram-nav-item:hover .svg-sound-off-path-two
   {
    transition: all 0.3s ease;
    fill: #cc582b;
  }
}

.diagram-start-btn {
  padding: 5px;
  cursor: pointer;
  .start-btn-title {
    @include fontStyle(28px, 600, 1px, var(--font-color));
    transition: color 0.3s ease;
  }
}

.diagram-start-btn:hover .start-btn-title {
  color: #cc582b;
}
