@use '../common/mixins' as *;

.modal-text-area__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10px;

  padding: 10px;

  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;

  .textarea__wrapper {
    max-width: 900px;
    width: 100%;
    border-bottom: 5px var(--accent-color) solid;
    .textarea {
      resize: none;
      width: 100%;
      height: 350px;

      background: transparent;
      border: none;
      @include fontStyle(21px, 600, 1px, var(--font-color));
    }
    .csv-textarea:focus {
      outline: none;
    }
    .csv-textarea::placeholder {
      @include fontStyle(18px, 600, 1px, var(--font-color));
    }
  }

  .paste-list-btns__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 60px;
    .paste-list-btn-cancel,
    .paste-list-btn-confirm {
      max-width: 200px;
      width: 100%;
      padding: 10px;
      border: 3px var(--font-color) solid;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: border 0.3s ease;
      .paste-list-btn-title {
        @include fontStyle(23px, 600, 1px, var(--font-color));
        transition: color 0.3s ease;
      }
    }

    .paste-list-btn-confirm:hover,
    .paste-list-btn-cancel:hover {
      border-color: #cc582b;
    }

    .paste-list-btn-confirm:hover .paste-list-btn-title,
    .paste-list-btn-cancel:hover .paste-list-btn-title {
      color: #cc582b;
    }
  }
}
